language: node_js
dist: trusty
node_js: stable
install:
  - npm install hexo-cli -g
  - npm install
script:
  - chmod +x ../deploy.sh
  - hexo clean
  - hexo g
  - ../deploy.sh > /dev/null
branches:
  only:
    - raw